# Load packages

In [1]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import imshow
from matplotlib.pyplot import figure
from PIL import Image
import requests
from io import BytesIO
import os
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import Normalizer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse
import re
import warnings
warnings.simplefilter("ignore")

# Load data

## Content based

In [2]:
# COSINE MATRIX
cs_matrix_file = './Data/cs_matrix_content.pkl'
with open(cs_matrix_file, 'rb') as f:
  cs_matrix_content = pickle.load(f)

# PRODUCT DATA
p_data_file = './Data/p_data.pkl'
with open(p_data_file, 'rb') as f:
  p_data = pickle.load(f)

## Collaborative

In [3]:
# PRODUCT DATA LIST
pkl_product_file = './Data/products_processed.pkl'
with open(pkl_product_file, 'rb') as f:
  all_product_data_list = pickle.load(f)

# PRODUCT REVIEW LIST
pkl_review_file = './Data/reviews_processed.pkl'
with open(pkl_review_file, 'rb') as f:
  all_review_data_list = pickle.load(f)

# COSINE MATRIX
cs_matrix_file = './Data/cs_matrix_collaborative.pkl'
with open(cs_matrix_file, 'rb') as f:
  cs_matrix_collaborative = pickle.load(f)

# USER ITEM RATING
user_item_rating_file = './Data/user_item_rating.pkl'
with open(user_item_rating_file, 'rb') as f:
  user_item_rating = pickle.load(f)

# DEMOGS
review_data_nodup_melt_file = './Data/review_data_nodup_melt.pkl'
with open(review_data_nodup_melt_file, 'rb') as f:
  review_data_nodup_melt = pickle.load(f)

In [7]:
review_data_nodup_melt.head()

    user_id variable  value  user_mapping  variable_mapping
0  17725300      age   29.0           454             14897
1  12064814      age   40.0          7490             14897
2  18524231      age   23.0         11172             14897
3   6382654      age   30.0           177             14897
4  12090782      age   31.0           420             14897

In [6]:
user_item_rating.head()

   user_id       variable  value  user_mapping  variable_mapping
0  1000190   Product_ASR8     10          1280              2694
1  1000190   Product_COC2     10          1280              1074
2  1000190   Product_CR17      8          1280              6743
3  1000190   Product_DL89      8          1280              1931
4  1000190  Product_DLC25      8          1280              3709

In [11]:
p_data.head()

,created,designer_name,displayName,formalityScore,productDetails,stylistNotes,price_base,price_adjusted,ageRanges_thirties,ageRanges_forties_plus,...,season_fall_winter,season_seasonless,season_spring_summer,sleeve_cap_sleeve,sleeve_long_sleeve,sleeve_short_sleeve,sleeve_sleeveless,sleeve_strapless,sleeve_three_quarter_sleeve,product_age_years
FLN35,2019-06-20 19:47:21.891000+00:00,Flynn Skye,Maiden Mini Dress,3.0,Brown leopard printed crepe (100% Rayon). Hour...,We're all about the square neck and long sleev...,40.0,30.0,1,1,...,1,0,0,0,1,0,0,0,0,0.402740
RMB77,2019-07-24 19:20:14.655000+00:00,Ramy Brook,Silver Lori Top,5.0,"Silver silk (95% Silk, 5% Spandex). Top. Sleev...",Silky and topped with a trend-right halter nec...,50.0,50.0,1,1,...,0,1,0,0,0,0,1,0,0,0.309589
KPL81,2019-06-20 19:47:13.135000+00:00,The Kooples,Leopard Robe Dress,3.0,Brown leopard printed silk (100% Silk). Hourgl...,This The Kooples dress features feminine detai...,95.0,85.0,1,1,...,1,0,0,0,1,0,0,0,0,0.402740
STS90,2019-06-20 16:27:34.753000+00:00,STYLESTALKER,Olive Velvet Leila Jumpsuit,5.0,"Olive green stretch velvet (95% Polyester, 5% ...",Take the plunge and stand out at your next par...,45.0,35.0,1,1,...,0,1,0,0,1,0,0,0,0,0.402740
PR125,2019-07-16 21:15:40.619000+00:00,Proenza Schouler,Crocodile Print Matte Jersey Dress,3.0,Black and brown animal printed jersey (100% Vi...,With a matte feel and textured crocodile print...,295.0,285.0,1,1,...,1,0,0,0,1,0,0,0,0,0.331507

In [ ]:
print('Data successfully loaded')